*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}
.menu-bar {
background-color: black;
height: 80px;
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
padding: 0% 5%;
}
.logo {
    color: White;
    font-size: 30px;
}
.menu-bar ul {
    list-style: none;
    display: flex;
}
.menu-bar ul li {
    padding: 10px 30px;
}
.menu-bar ul li a {
    color: White;
    text-decoration: none;
    font-size: 20px;
}
.menu-bar ul li a:hover {
    color:var(--color-primary);
}